
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h3 {
  font-family: Merriweather, serif;
  font-size: 20px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
header {
  background-color: rgb(6, 184, 95);
  border:rgb(238, 74, 142) 2px solid;
  border-radius: 25px;
}

button {
  background-color: rgb(61, 146, 104);
  width: 300px;
  border-radius: 25px;
  border: 2px solid rgb(238, 74, 142);
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin: 10px;
  text-align: center; 
  font-size: 16px 
 }

button:hover {
  background-color: rgb(168, 235, 201)
}

img {
  border-radius: 60%;
}

#contenedor { 
  text-align: left;
  width: 100%;
  margin: auto;
}
   
#lateral {
  width: 29%;  /* Ancho de la columna */
  height: 100%;
  background-color: rgb(88, 216, 120);  /* Color de fondo */
  float:right; /* donde quiero que se ubique la columna */
  border:rgb(238, 74, 142) 2px solid;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 1px;
}
   
#principal {
  width: 70%;
  float:left;
  background-color: rgb(108, 236, 108);
  border:rgb(238, 74, 142) 2px solid; /* borde */
  border-radius: 25px;
  column-count: 2;
  text-align: justify;
  letter-spacing: 1px;
}

footer{
  width: 70%;
  float:left;
  background-color: rgb(108, 236, 108);
  border:rgb(238, 74, 142) 2px solid; 
  border-radius: 25px;
  text-align: center;
}

/* Contenedor del popup */
.ventana_emergente {
  position: relative;
  display: inside-block;
  cursor: pointer;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 46px;
}

/* El popup */
.ventana_emergente .texto_emergente {
  visibility: hidden;
  width: 160px;
  background-color: rgb(108, 236, 108);
  color: rgb(34, 33, 33);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: sticky;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.ventana_emergente .texto_emergente::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(108, 236, 108) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.ventana_emergente .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Animacion fade out */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}